{% extends 'enrollment_app/base.html' %}

{% block content %}

<div class="max-w-4xl mx-auto py-12 px-4">
    <h2 class="font-display text-3xl font-bold text-primary mb-8 text-center">Enrollment Process</h2>
    <div class="space-y-8">
        <div class="flex gap-6 items-start">
            <div
                class="bg-secondary text-primary font-bold w-10 h-10 rounded-full flex items-center justify-center shrink-0 shadow-md">
                1</div>
            <div>
                <h3 class="text-xl font-bold mb-2">Pre-Enrollment Online</h3>
                <p class="text-gray-600">Click the "Pre Enrollment" button on the home page and fill out your student,
                    family, and academic information.</p>
            </div>
        </div>
        <div class="flex gap-6 items-start">
            <div
                class="bg-secondary text-primary font-bold w-10 h-10 rounded-full flex items-center justify-center shrink-0 shadow-md">
                2</div>
            <div>
                <h3 class="text-xl font-bold mb-2">Document Submission</h3>
                <p class="text-gray-600">Upload digital copies of your Report Card</p>
            </div>
        </div>
        <div class="flex gap-6 items-start">
            <div
                class="bg-secondary text-primary font-bold w-10 h-10 rounded-full flex items-center justify-center shrink-0 shadow-md">
                3</div>
            <div>
                <h3 class="text-xl font-bold mb-2">Admin Verification</h3>
                <p class="text-gray-600">Wait for the school administrator to verify your grades and documents. </p>
            </div>
        </div>
        <div class="flex gap-6 items-start">
            <div
                class="bg-secondary text-primary font-bold w-10 h-10 rounded-full flex items-center justify-center shrink-0 shadow-md">
                4</div>
            <div>
                <h3 class="text-xl font-bold mb-2">Section Assignment</h3>
                <p class="text-gray-600">Once approved, check the "Section Assignment" service on the landing page to
                    find your class and adviser.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}